



  <div class="alert alert-danger" role="alert" *ngIf="errors.length > 0">

    <ul>

      <li *ngFor="let error of errors">

        {{error}}

      </li>

    </ul>

  </div>

  <div class="alert alert-success" role="alert" *ngIf="checkinSuccess">

    <ul>


       The system has succesfully checked in your vehicle. Please wait..


    </ul>

  </div>

  <div class="col-xs-12 col-sm-6 example-col">
    <p>Vehicle Type</p>
    <kendo-dropdownlist  [data]="vehicleTypesMap"
    [(ngModel)] = "selectedVehicleType"
    textField="text"
    valueField="value">
    </kendo-dropdownlist>
  </div>

  <div class="col-xs-12 col-sm-6 example-col">
    <p>Ticket Type</p>
    <kendo-dropdownlist  [data]="ticketTypesMap"
    [(ngModel)] = "selectedTicketType"
    textField="text"
    valueField="value">
    </kendo-dropdownlist>
  </div>

  <div class="alert alert-success" role="alert" *ngIf="successfulSave">

    You have registered successfully!

  </div>



  <form class="form-horizontal" [formGroup]="checkInForm" (ngSubmit)="onSubmit()" >

    <h4 style ="text-align: center">Check in new vehicle</h4>

    <hr />

    <h5 style ="text-align: center">Person Info</h5>

    <hr />

    <div class="form-group">

      <label class="col-md-4 control-label" style ="text-align: left; display: inline-block">Name</label>

      <div class="col-md-4">

        <input type="text" id="name" class="form-control" formControlName="name" required [(ngModel)] = 'checkInData.personData.name'/>

      </div>

    </div>

    <div *ngIf="name.invalid && (name.dirty)"
       class="alert alert-danger">

    <div *ngIf="name.errors.required">

      Username is required.

    </div>

    <div *ngIf="name.errors.minlength">

      Username must be at least 4 characters long.

    </div>



  </div>

    <div class="form-group">

      <label class="col-md-2 control-label">Person Id</label>

      <div class="col-md-4">

        <input type="text" name="id" class="form-control" formControlName="personId"  required [(ngModel)] = 'checkInData.personData.personId' />

      </div>

    </div>

    <!--<div *ngIf="firstName.invalid && (firstName.dirty)"
       class="alert alert-danger">



    <div *ngIf="firstName.errors.required">

      first name is required.

    </div>



  </div>-->

    <div class="form-group">

      <label class="col-md-2 control-label">Phone</label>

      <div class="col-md-4">

        <input type="text" class="form-control" formControlName="phone" required [(ngModel)] = 'checkInData.personData.phone'/>

      </div>

    </div>

    <h5 style ="text-align: center">Vehicle Info</h5>

    <hr />

    <!--<div *ngIf="lastName.invalid && (lastName.dirty)"
       class="alert alert-danger">



    <div *ngIf="lastName.errors.required">

      last name is required.

    </div>



  </div>-->

    <div class="form-group">

      <label class="col-md-2 control-label">Height</label>

      <div class="col-md-4">

        <input type="text" class="form-control" formControlName="height" required [(ngModel)] = 'checkInData.vehicleDimensionData.height' />

      </div>

    </div>

    <!--<div *ngIf="password.invalid && (password.dirty)"
       class="alert alert-danger">



    <div *ngIf="password.errors.required">

      Password is required.

    </div>

    <div *ngIf="password.errors.minlength">

      Password must be at least 6 characters long.

    </div>



  </div>-->

    <div class="form-group">

      <label class="col-md-2 control-label">Width</label>

      <div class="col-md-4">

        <input id="width" type="text" class="form-control" formControlName="width" required [(ngModel)] = 'checkInData.vehicleDimensionData.width' />

      </div>

    </div>

    <!--<div *ngIf="confirmPassword.invalid && (confirmPassword.dirty)"
           class="alert alert-danger">



    <div *ngIf="confirmPassword.errors.required">

      Confirm Password is required.

    </div>

    <div *ngIf="confirmPassword.errors.minlength">

      Confirm Password must be at least 6 characters long.

    </div>

    <div *ngIf="confirmPassword.errors.validPassword">

      Confirm Password must match above password.

    </div>

  </div>-->

    <div class="form-group">

      <label class="col-md-2 control-label">Length</label>

      <div class="col-md-4">

        <input id="length" type="text" class="form-control" formControlName="length" required [(ngModel)] = 'checkInData.vehicleDimensionData.length' />

      </div>

    </div>

    <div class="form-group">

      <div class="col-md-offset-2 col-md-10">

        <input type="submit" class="btn btn-default" value="Check in" />

      </div>

    </div>

  </form>


