Insert ID:
<kendo-combobox [data] = personTzList [filterable]="true"
(filterChange)="fetchPeople($event)" (selectionChange)="selectPerson($event)"></kendo-combobox>
<input type="text" id="id" class="form-control" (input) = "onIdChange($event.target.value)"/>
Select Vehicle:
<kendo-combobox [data] = vehicleList [textField]="'vehicleType'" [valueField]="'vehicleId'" (selectionChange)="selectVehicle($event)"></kendo-combobox>
<mat-spinner *ngIf = loadingVehicleList></mat-spinner>
<p>Select a date:</p>
<kendo-datepicker [(value)]="value"></kendo-datepicker>
<p>Select an hour:</p>
<kendo-timepicker [(value)]="value"></kendo-timepicker>
<br>
<button kendoButton (click) = "CheckOut()">Check Out</button>