################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ParkingGarageManagement.cs/v15/Server/sqlite3
